<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tipsy.repository.SysMenuMapper">

    <select id="selectPermissionByUserId" resultType="java.lang.String">
        select distinct sm.perms
        from sys_user_role sur
        left join sys_role_menu srm
        on srm.role_id = sur.role_id
        left join sys_menu sm
        on sm.id = srm.menu_id
        where sur.user_id = #{id}
        and sm.status = 0
        and sm.del_flag = 0
        and sm.menu_type in ('C','F')
    </select>
    <select id="selectRouterMenuTreeByUserId" resultType="com.tipsy.entity.SysMenu">
        select distinct sm.*
        from sys_user_role sur
        left join sys_role_menu srm
        on srm.role_id = sur.role_id
        left join sys_menu sm
        on sm.id = srm.menu_id
        where sur.user_id = #{id}
        and sm.status = 0
        and sm.del_flag = 0
        and sm.menu_type in ('C','M')
        order by sm.order_num
    </select>
</mapper>
